# Environnement virtuel
.venv/
venv/
env/
ENV/

# Fichiers Poetry
.poetry/
poetry.lock
pyproject.toml

# Fichiers Python compilés
*.pyc
*.pyo
__pycache__/

# Dossiers PyQt (fichiers temporaires générés par PyQt5)
*.pyc
*.pyo
*.pyd
*.so
*.swp
*.bak

# Cache de l'IDE et fichiers temporaires
.idea/
.vscode/
*.swp
*.swo

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de logs
*.log

# Fichiers de configuration spécifiques
*.sqlite
*.db

# Ignorer les fichiers de tests (si vous utilisez pytest, unittest, etc.)
*.coverage
.coverage.*
nosetests.xml
test_*.xml
*.coveragerc
